:root {
  --bg-primary-color: #f5f5f5;
  --bg-secondary-color: #f5f4fa;
  --bg-tertiary-color: #ffffff;
  --bg-hero-color: #2f303a;
  --bg-footer-color: #2f303a;
  --bg-button-primary-color: #f5f4fa;
  --bg-button-secondary-color: #2196f3;
  --bg-hover-color: #2196f3;
  --text-primary-color: #757575;
  --text-secondary-color: #212121;
  --text-hover-color: #2196f3;
  --text-tertiary-color: #ffffff;
  --text-contacts-color: rgba(255, 255, 255, 0.6);
  --logo-primary-color: #2196f3;
  --logo-header-color: #000000;
  --logo-footer-color: #ffffff;
  --main-font: "Roboto", sans-serif;
  --font-secondary: "Raleway", sans-serif;
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

ul {
  padding-left: 0;
}

body {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  background-color: var(--bg-tertiary-color);
  color: var(--text-primary-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.link {
  text-decoration: none;
}
.link:hover {
  color: var(--text-hover-color);
}
.link:focus {
  color: var(--text-hover-color);
}

.list {
  list-style: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section:nth-child(2) {
  padding-bottom: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.button-order {
  display: inline-block;
  background-color: var(--bg-button-secondary-color);
  color: var(--text-tertiary-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  padding: 10px 32px;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: background-color var(--transition-dur-and-func);
}
.button-order:hover, .button-order:focus {
  background-color: #188ce8;
}

.contact__icon {
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  fill: currentColor;
}

.contact__list--page-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.contact__item--page-header:not(:last-child) {
  margin-right: 30px;
}

.contact__link--page-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px 0;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
  transition: color var(--transition-dur-and-func);
}

.contact__link--page-footer {
  display: inline-flex;
  color: var(--text-contacts-color);
  transition: color var(--transition-dur-and-func);
  font-style: normal;
}

.address .contact__item:not(:last-child) {
  margin-bottom: 9px;
}

.logo {
  display: block;
  color: inherit;
  text-decoration: none;
  font-family: var(--font-secondary);
  font-weight: 700;
  color: var(--logo-primary-color);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.logo__item--page-header {
  color: var(--logo-header-color);
}

.logo__item--page-footer {
  color: var(--logo-footer-color);
}

.logo--page-footer {
  margin-bottom: 20px;
}

.title {
  color: var(--text-secondary-color);
}

.social-network__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  gap: 10px;
  transition: background-color var(--transition-dur-and-func), color var(--transition-dur-and-func);
}
.social-network__link:hover {
  background-color: var(--bg-hover-color);
  border-radius: 50%;
}
.social-network__item .social-network__link:focus {
  background-color: var(--bg-hover-color);
}

.social-network__link--page-footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-network {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.social-network__suptitle {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--text-tertiary-color);
  margin-bottom: 20px;
}

.social-network__icon {
  fill: var(--text-tertiary-color);
}
.team__item .social-network__icon {
  fill: #afb1b8;
  transition: fill var(--transition-dur-and-func);
}
.social-network__link:focus .social-network__icon {
  fill: var(--text-tertiary-color);
}
.social-network__item:hover .social-network__icon, .social-network__item:focus .social-network__icon {
  fill: #ffffff;
}
.social-network__link:hover .social-network__icon {
  fill: var(--text-tertiary-color);
}

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filters__btn {
  background-color: var(--bg-button-primary-color);
  color: var(--text-secondary-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  padding: 6px 22px;
  border: transparent;
  border-radius: 4px;
  transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func), box-shadow var(--transition-dur-and-func);
}
.filters__btn:hover, .filters__btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--bg-hover-color);
  color: var(--text-tertiary-color);
}

.filters__item:not(:last-child) {
  margin-right: 8px;
}

.subscribe-form {
  margin-left: auto;
}

.subscribe-form__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.subscribe-form__suptitle {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--text-tertiary-color);
  margin-bottom: 20px;
}

.subscribe-form__input {
  width: 358px;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  color: #ffffff;
}
.subscribe-form__input:placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-btn {
  display: inline-flex;
  align-items: center;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  background: #2196f3;
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: 12px;
  cursor: pointer;
}

.subscribe-btn__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.subscribe-btn__icon {
  margin-left: 10px;
  fill: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: contain;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  width: 528px;
  height: 581px;
}

.close-modal-btn {
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 14px;
  top: 14px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.close-modal-btn__icon {
  fill: #000000;
  transition: fill var(--transition-dur-and-func);
}
.close-modal-btn:hover .close-modal-btn__icon, .close-modal-btn:focus .close-modal-btn__icon {
  fill: var(--bg-button-secondary-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 40px;
}

.modal-form__suptitle {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--text-secondary-color);
}

.modal-form__thumb {
  position: relative;
  margin-top: 4px;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transition-dur-and-func);
}
.modal-form__input:focus, .modal-form__input:hover {
  border-color: #2196f3;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill var(--transition-dur-and-func);
}
.modal-form__input:focus + .modal-form__icon, .modal-form__input:hover + .modal-form__icon {
  fill: #2196f3;
}

.modal-form__comment {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  transition: border-color var(--transition-dur-and-func);
}
.modal-form__comment:focus, .modal-form__comment:hover {
  border-color: #2196f3;
  /* outline: none; */
}
.modal-form__comment:placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 10px;
}

.modal-form__label--last {
  margin-bottom: 20px;
}

.checkbox__label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.policy__link {
  color: #2196f3;
}

.checkbox__input {
  position: absolute;
  appearance: none;
  transition: border-color var(--transition-dur-and-func), background-color var(--transition-dur-and-func), fill var(--transition-dur-and-func);
}

.checkbox__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox__custom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  padding: 0;
  margin-right: 7px;
  object-fit: fill;
  border: 2px solid var(--text-secondary-color);
  border-radius: 2px;
  fill: transparent;
  transition: fill var(--transition-dur-and-func), border-color var(--transition-dur-and-func), background-color var(--transition-dur-and-func);
}
.checkbox__input:checked + .checkbox__custom {
  background-color: var(--bg-hover-color);
  border: 2px solid transparent;
  background-size: cover;
  fill: #ffffff;
}
.checkbox__input:focus-within + .checkbox__custom {
  border-color: #188ce8;
}

.submit__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  padding: 10px 52px;
  margin-left: auto;
  margin-right: auto;
  background: var(--bg-button-secondary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  transition: background-color var(--transition-dur-and-func);
}
.submit__btn:hover, .submit__btn:focus {
  background-color: #188ce8;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__link {
  display: inline-block;
  max-height: 80px;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--text-secondary-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 50px;
}

.current {
  color: var(--text-hover-color);
  position: relative;
}
.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  background: #2196f3;
  border-radius: 2px;
  border: 1px solid #2196f3;
  width: 100%;
  height: 4px;
  transform: translateY(1px);
}

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-color: var(--bg-hero-color);
  text-align: center;
  padding: 200px 0;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
}

.hero__title {
  display: block;
  margin: 0 auto 30px;
  color: var(--text-tertiary-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  align-items: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
}

.project__item {
  background-color: var(--bg-tertiary-color);
  width: 370px;
}
.project__item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.project__item:not(:nth-last-child(-n+3)) {
  margin-bottom: 30px;
}

.project__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.project__subtitle {
  font-size: 16px;
  line-height: 1.88;
}

.project__thumb {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.project__description {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--text-tertiary-color);
  transform: translateY(101%);
  transition: transform var(--transition-dur-and-func);
}
.project__link:hover .project__description, .project__link:focus .project__description {
  transform: translateY(0%);
}

.project__overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
}

.project__title {
  color: var(--text-secondary-color);
}

.project__link {
  display: block;
  text-decoration: none;
  transition: box-shadow var(--transition-dur-and-func);
  color: inherit;
}
.project__link:hover, .project__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.speciality__list {
  display: flex;
}

.speciality__item {
  width: 270px;
}
.speciality__item:not(:last-child) {
  margin-right: 30px;
}

.speciality__overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.speciality .title {
  font-size: 14px;
}

.speciality__label {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.what-we-do__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.what-we-do__list {
  display: flex;
  justify-content: space-between;
}

.what-we-do__item:not(:last-child) {
  margin-right: 30px;
}

.wrapper {
  position: relative;
}

.what-we-do__description {
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.what-we-do__thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  padding: 27px auto;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--bg-secondary-color);
}

.team__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team__list {
  display: flex;
}

.team__item {
  background-color: var(--bg-tertiary-color);
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__item:not(:last-child) {
  margin-right: 30px;
}

.team-member__description {
  padding: 30px 0;
}

.team-member__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-member__job {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.clients__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.clients__list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.clients__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  cursor: pointer;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: border-color var(--transition-dur-and-func), color var(--transition-dur-and-func);
}
.clients__link:hover, .clients__link:focus {
  border-color: #2196f3;
}

.clients__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  transition: fill var(--transition-dur-and-func);
}
.clients__link:hover .clients__icon {
  fill: var(--bg-hover-color);
}
.clients__link:focus .clients__icon {
  fill: var(--bg-hover-color);
}

.footer {
  background-color: var(--bg-footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.address__item {
  margin-bottom: 9px;
}

.address__link {
  display: inline-flex;
  color: var(--text-tertiary-color);
  transition: color var(--transition-dur-and-func);
  font-style: normal;
}

.wrapper {
  display: flex;
  align-items: baseline;
}

.flex-box-address {
  margin-right: 70px;
}/*# sourceMappingURL=main.css.map */