.clients__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.clients__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}
.clients__item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 52px;
  width: 210px;
  @media screen and (min-width: 768px) {
    width: 226px;
    padding: 16px 60px;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
    padding: 16px 32px;
  }

  cursor: pointer;
  border: 1px solid#AFB1B8;
  border-radius: 4px;
  transition: border-color var(--transition-dur-and-func),
    color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    border-color: #2196f3;
  }
}
.clients__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  transition: fill var(--transition-dur-and-func);

  .clients__link:hover & {
    fill: var(--accent-color);
  }
  .clients__link:focus & {
    fill: var(--accent-color);
  }
}
