// .hero {
//   background-image: linear-gradient(
//       rgba(47, 48, 58, 0.4),
//       rgba(47, 48, 58, 0.4)
//     ),
//     url(../images/hero.jpg);
//   background-color: var(--bg-hero-color);
//   text-align: center;
//   padding: 200px 0;
//   max-width: 1600px;
//   height: 600px;
//   margin: 0 auto;
// }
// .hero__title {
//   display: block;
//   margin: 0 auto 30px;
//   color: var(--text-tertiary-color);
//   font-weight: 900;
//   font-size: 44px;
//   line-height: 1.36;
//   text-align: center;
//   align-items: center;
//   letter-spacing: 0.06em;
//   text-transform: uppercase;
//   width: 696px;
// }