// .projects {
//   display: flex;
//   flex-wrap: wrap;
// }
// .project__item {
//   background-color: var(--bg-tertiary-color);
//   width: 370px;
  
//   &:not(:nth-child(3n)) {
//     margin-right: 30px;
//   }
//   &:not(:nth-last-child(-n + 3)) {
//     margin-bottom: 30px;
//   }
// }
// .project__title {
//   font-weight: 700;
//   font-size: 18px;
//   line-height: 2;
//   letter-spacing: 0.06em;
//   margin-bottom: 4px;
// }
// .project__subtitle {
//   font-size: 16px;
//   line-height: 1.88;
// }
// .project__thumb {
//   padding: 20px 24px;
//   border: 1px solid #eeeeee;
//   border-top: none;
// }
// .project__description {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   position: absolute;
//   top: 0;
//   left: 0;
//   padding: 63px 24px;

//   background: rgba(33, 150, 243, 0.9);
//   width: 100%;
//   height: 100%;

//   font-size: 18px;
//   line-height: 1.56;

//   letter-spacing: 0.03em;

//   color: var(--text-tertiary-color);

//   transform: translateY(101%);

//   transition: transform var(--transition-dur-and-func);
  
//   .project__link:hover &,
//   .project__link:focus & {
//     transform: translateY(0%);
//   }
// }
// .project__overlay {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   position: relative;
//   top: 0;
//   left: 0;
//   overflow: hidden;
// }
// .project__title {
//   color: var(--text-secondary-color);
// }

// .project__link {
//   display: block;
//   text-decoration: none;
//   transition: box-shadow var(--transition-dur-and-func);
//   color: inherit;
//   &:hover,
//   &:focus {
//     box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
//       1px 4px 6px rgba(0, 0, 0, 0.16);
//   }
// }