// .team {
//   padding-top: 94px;
//   padding-bottom: 94px;
//   background-color: var(--bg-secondary-color);
// }

// .team__title {
//     margin-bottom: 50px;
//   font-weight: 700;
//   font-size: 36px;
//   line-height: 1.17;
//   text-align: center;
// }
// .team__list {
//   display: flex;
// }
// .team__item {
//   background-color: var(--bg-tertiary-color);
//   width: 270px;
//   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
//     0px 2px 1px rgba(0, 0, 0, 0.2);
//   border-radius: 0px 0px 4px 4px;
  
//   &:not(:last-child) {
//     margin-right: 30px;
//   }
// }
// .team-member__description {
//   padding: 30px 0;
// }
// .team-member__name {
//   margin-bottom: 10px;
//   font-weight: 500;
//   font-size: 16px;
//   line-height: 1.19;
//   text-align: center;
// }
// .team-member__job {
//   font-size: 16px;
//   line-height: 1.19;
//   text-align: center;
//   margin-bottom: 16px;
// }