.what-we-do__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.what-we-do__list {
  display: flex;
  justify-content: space-between;
}
.what-we-do__item:not(:last-child) {
  margin-right: 30px;
}

.wrapper {
  position: relative;
}
.what-we-do__description {
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}
.what-we-do__thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  padding: 27px auto;
}
@media screen and (max-width: 1199px) {
  .what-we-do {
    display: none;
  }
}
