.button-order {
  background-color: var(--accent-color);
  color: var(--text-tertiary-color);
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px 24px;
  border-radius: 4px;
  border: transparent;
  &:hover {
    background-color: #188ce8;
  }

  @media screen and (min-width: 1200px) {
    padding: 10px 32px;
  }
}
