.button-order {
  display: inline-block;
  background-color: var(--bg-button-secondary-color);
  color: var(--text-tertiary-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  padding: 10px 32px;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: background-color var(--transition-dur-and-func);
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}