.contact__link--page-footer {
  color: var(--text-contacts-color);
  transition: color var(--transition-dur-and-func);
  font-style: normal;
}
.contact__item--footer:not(:last-child) {
  margin-bottom: 8px;
}
