// .filters {
//   display: flex;
//   justify-content: center;
//   margin-bottom: 50px;
// }
// .filters__btn {
//   background-color: var(--bg-button-primary-color);
//   color: var(--text-secondary-color);
//   font-weight: 500;
//   font-size: 16px;
//   line-height: 1.62;
//   text-align: center;
//   cursor: pointer;
//   padding: 6px 22px;
//   border: transparent;
//   border-radius: 4px;
//   transition: color var(--transition-dur-and-func),
//     background-color var(--transition-dur-and-func),
//     box-shadow var(--transition-dur-and-func);

//   &:hover,
//   &:focus {
//     box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
//       0px 2px 2px rgba(0, 0, 0, 0.12);
//     background-color: var(--bg-hover-color);
//     color: var(--text-tertiary-color);
//   }
// }
// .filters__item:not(:last-child) {
//   margin-right: 8px;
// }

