.logo {
  display: block;
  font-family: var(--font-secondary);
  font-weight: 700;
  color: var(--accent-color);
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.logo--header {
  color: var(--logo-header-color);
  
  @media screen and (min-width: 768px) {
    margin-right: 87px;
  }
}
.logo__item--page-footer {
  color: var(--logo-footer-color);
}
.logo--page-footer {
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .logo {
    line-height: 1.19;
    font-size: 26px;
    margin-right: 93px;
  }
}
