.modal {
  position: absolute;
  background-color: #ffffff;
  left: 50%;
  top: 50px;
  transform: translatex(-50%);

  @media screen and (max-width: 767px) {
    max-width: 450px;
    height: 609px;
  }

  @media screen and (min-width: 768px) {
    width: 450px;
    height: 609px;
  }

  @media screen and (min-width: 1200px) {
    position: absolute;
    // left: 50%;
    // top: 50%;
    // transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
  }
}
.close-modal-btn {
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 14px;
  top: 14px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.close-modal-btn__icon {
  fill: #000000;
  transition: fill var(--transition-dur-and-func);
  .close-modal-btn:hover &,
  .close-modal-btn:focus & {
    fill: var(--accent-color);
  }
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
